<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ForumeDB" connectionString="Data Source =C:\\workspace\\sysapp_csharp\\assignments\\3\\ForumAssignment\\database.db"/>
	</connectionStrings>
	<appSettings>
		<add key="databasepath" value=""/>
	</appSettings>
</configuration>